# Auto detect text files and perform LF normalization
* text=auto
*.i3d.shapes filter=lfs diff=lfs merge=lfs -text
*.i3d filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
